{% extends 'layout/app.html' %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='plugins/select2/css/select2.css') }}">

    <div>
        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <!-- Main row -->
                <div class="row">
                    <!-- Left col -->
                    <div class="col-md-8">
                        <!-- MAP & BOX PANE -->
                        <div class="card h-100">
                            <div class="card-header">
                                <h3 class="card-title">Мапа надзвичайних подій</h3>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body p-0">
                                <div class="d-md-flex">
                                    <div class="p-1 flex-fill" style="overflow: hidden">
                                        <!-- Map will be created here -->
                                        <div class="mapcontainer mapael">
                                            <div class="map" id="freeMap">

                                            </div>
                                        </div>
                                    </div>
                                </div><!-- /.d-md-flex -->
                            </div>
                            <!-- /.card-body -->
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card card-default {% if not isAdmin %}h-100 {% else %} h-50 {% endif %}">
                            <div class="card-header" id="area_events_header">
                                <h3 class="card-title">
                                    <i class="fas fa-bullhorn"></i>
                                    Список подій
                                </h3>
                            </div>

                            <div class="card-body media-body overflow-auto" id="area_events">

                            </div>
                        </div>

                        {% if isAdmin %}
                            <div class="card card-default">
                                <div class="card-header" id="area_events_header">
                                    <h3 class="card-title">
                                        <i class="fas fa-bullhorn"></i>
                                        Додати подію
                                    </h3>
                                </div>

                                <form action="add_event" method="post">
                                    <div class="card-body">
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Заголовок</label>
                                            <input type="text" class="form-control" name="title"
                                                   placeholder="Заголовок">
                                        </div>

                                        <div class="row">
                                            <div class="col-6">
                                                <div class="form-group">
                                                    <label>Місто</label>
                                                    <select name="city" id="city" class="select2" multiple="multiple" data-placeholder="Оберіть місто" style="width: 100%;">
                                                        {% for city in ua_cities %}
                                                            <option value="{{ city.id }}">{{ city.ua_name }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="form-group">
                                                    <label>Класифікація події</label>
                                                    <select name="emergency_type" id="emergency_type" class="select2" multiple="multiple" data-placeholder="Оберіть тип події" style="width: 100%;">
                                                        <option value="1">велика</option>
                                                        <option value="2">маленька</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Радіус впливу</label>
                                            <input type="text" class="form-control" name="radius"
                                                   placeholder="Заголовок">
                                        </div>

                                        <div class="form-group">
                                            <label>Опис</label>
                                            <textarea class="form-control" rows="3" placeholder="Введіть опис ..." name="description"></textarea>
                                        </div>
                                    </div>
                                    <input type="hidden" value="1" name="city_name" id="city_name">

                                    <div class="card-footer">
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </div>
                                </form>
                            </div>
                        {% endif %}
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
                <script>
                    let ua_cities = {
                        {% for city in ua_cities %}
                            '{{ city.id }}': {
                            'name': '{{ city.city }}',
                            'lat': {{ city.lat }},
                            'lng': {{ city.lng }},
                        },
                        {% endfor %}
                    };
                    let emergencies = {
                        {% for emergency in emergencies %}
                            '{{ emergency.id }}': {
                                'title': '{{ emergency.title }}',
                                'description': '{{ emergency.description }}',
                                'radius': '{{ emergency.radius }}',
                                'impact': '{{ emergency.impact }}',
                                'emergency_type': '{{ emergency.emergency_type }}',
                                'city_id': '{{ emergency.city_id }}',
                            },
                        {% endfor %}
                        '1': {
                            'title': 'a',
                            'description': 'test 1',
                            'radius': '50000',
                            'impact': 'a',
                            'emergency_type': '1',
                            'city_id': '1',
                        },
                        '2': {
                            'title': 'test 2',
                            'description': 'a',
                            'radius': '50000',
                            'impact': 'a',
                            'emergency_type': '1',
                            'city_id': '2',
                        }
                    };

                    emergency_types = {
                        '1': {
                            'name': 'велике забруднення'
                        }
                    }

                    $(function () {
                        $('.select2').select2()
                        $('.select2bs4').select2({
                            theme: 'bootstrap4'
                        })

                        let alert_map = new Alert_map(
                            ua_cities,
                            emergencies,
                            emergency_types,
                            '{{ url_for('static', filename='public/js/ukraine-with-regions_1530.geojson') }}'
                        );
                        alert_map.init();
                        {#alert_map.add_markers();#}
                        alert_map.add_emergencies()
                    })
                </script>
            </div><!--/. container-fluid -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
    </aside>
{% endblock %}